.temples-card img {
    width: 104px;
    height: 104px;
    border: 3px solid rgb(42, 42, 42);
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
}

.development-project {
    padding: 80px 60px;
    background-color: #fff3e9;
    border-top: 1px solid #fb8b24;
}

.development-project .card img {
    height: 200px;
    object-fit: cover;
}

.development-project .card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1607843137);
    border-radius: 15px;
}

.development-project .card-text {
    font-size: 14px;
}

/* photo gallaery */

.photo-gallery {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.photo-gallery .row {
    gap: 10px;
    /* Adjust the gap for better spacing between images */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photo-gallery img {
    width: 95%;
    aspect-ratio: 16/10;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    object-fit: cover;
}

.photo-gallery table tr td img:hover {
    transform: scale(1.05);
    transition: 1s ease
}



/* Responsive adjustments for different screen sizes */
@media (max-width: 768px) {
    .photo-gallery table tr td img {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 28px;
    }

    .view-more {
        padding: 8px 20px;
        font-size: 14px;
    }
}

/* Gorverment section */

.development-partner {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-row {
    display: inline;
    gap: 20px;
}

.arrow {
    width: 60px;
    height: 52px;
    display: inline-block;
}